---
layout: single
author_profile: true
excerpt: "Robotics and machine learning is my passion"
header:
  overlay_color: "#333"
---

{% include base_path %}

{% comment %}
<h3 class="archive__subtitle">{{default: "Projects" }}</h3>
{% endcomment %}

{% include base_path %}
{% include feature_row id="row2" %}

<div class="grid__wrapper">
  {% for post in site.portfolio %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

{% comment %}
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}
{% endcomment %}

{% include paginator.html %}
