{% include base_path %}


<!-- _includes/image.html -->
<div class="image-wrapper" >
  <div class="boxed">
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img src="{{ include.img | prepend: "/images/" | prepend: base_path }}" alt="{{ include.title }}" align="middle"/>
    {% if include.url %}
    </a>
    {% endif %}
  </div>
  {% if include.caption %}
  <br>
    <div class="boxed">
        <p class="image-caption"> <b>Figure: {{ include.title }}</b> <a name="{{include.cap_id}}"></a> {{ include.caption }}</p>
      </div>
  {% endif %}
</div>
